{% extends "base.html" %}
{% block title %}KLÚBBAR{% endblock %}
{% block content %}
<body>
    <div class="grid">
        <div>
            <h1>Klúbbar</h1>
            {% for i in k %}
            <button class="accordion">{{ i.nafn }}</button>
            <div class="panel">
                <p>Stofa: {{ i.stofa }}</p>
                <p>Formaður: {{ i.formadur }}</p>
                <p>{{ i.desc }}</p>
            </div>
            {% endfor %}
            <button class="stofna">Stofna klúbb +</button>
        </div>
        <div>
            <h1>Stofur</h1>
            <div class="stofur">
            </div>
            <button class="floor">hæð 2</button> <button class="floor">hæð 3</button>
        </div>
    </div>
</body>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
</html>
{% endblock %}
